@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
}


@font-face {
  font-family: 'Eurostile_Extd_Black';
  src: url('/Eurostile_Extd_Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.font-heading {
  font-family: 'Eurostile_Extd_Black', sans-serif;
}